<mat-toolbar color="primary" class="top-nav">
  <h1>Sukhdeep Singh</h1>
  <div class="flex-spacer"></div>
  <div class="btn-group">
    <button type="button" mat-button>Contact</button>
    <a mat-button role="button" href="//www.linkedin.com/in/sukhdeepsingh12/" target="_blank">LinkedIn</a>
  </div>
</mat-toolbar>
<main class="mat-app-background">
  <div class="container">
    <div class="section">
      <h2 class="center">Expertise</h2>
    </div>
    <section class="section feature-section center">
      <div class="row">
        <div class="col s12 m6">
          <img src="../assets/js.png" alt="JavaScript" (click)="openDialog('js')">
        </div>
        <div class="col s12 m6">
          <img src="../assets/angular.svg" alt="Angular" (click)="openDialog('angular')">
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <img src="../assets/nodejs.png" alt="NodeJS" (click)="openDialog('node')">
        </div>
        <div class="col s12 m6">
          <img src="../assets/html5.ico" alt="HTML5" (click)="openDialog('html')">
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <img src="../assets/css3.png" alt="CSS3" (click)="openDialog('css')">
        </div>
        <div class="col s12 m6">
          <img src="../assets/php.png" alt="PHP" (click)="openDialog('php')">
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <img src="../assets/mysql.png" alt="MySQL" (click)="openDialog('mysql')">
        </div>
        <div class="col s12 m6">
          <img src="../assets/nginx.png" alt="NGINX" (click)="openDialog('nginx')">
        </div>
      </div>
    </section>
  </div>
</main>
